# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env & local config
.env
*.local

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
dist-ssr/
out/

# System files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git backup
*.orig

# Optional: OS-specific
ehthumbs.db
Icon?

# Optional: macOS metadata
.AppleDouble
.LSOverride
